# Implement Simple Program to read and write content of file from text file and CSV file.

In [17]:
file = open("lab1.txt", "w")
file.write("I am Malhar Patel\n")
file.close()

In [18]:
file = open("lab1.txt", "r")
str1 = file.readline()
print(str1)
file.close()

I am Malhar Patel

In [19]:
data ={"Name":['Jack', 'Jill', 'Em', 'David'],
       "Profession":['Manager', 'Analyst', 'Data scientist', 'VP'],
       "Experience":[10,5,2,20],
       "Education":['MBA', 'BS', 'MS','MBA']}
data

{'Name': ['Jack', 'Jill', 'Em', 'David'],
 'Profession': ['Manager', 'Analyst', 'Data scientist', 'VP'],
 'Experience': [10, 5, 2, 20],
 'Education': ['MBA', 'BS', 'MS', 'MBA']}

In [20]:
import pandas as pd
df = pd.DataFrame(data)
df.to_csv("lab1.csv")
csv_data = pd.read_csv("lab1.csv")
csv_data

   Unnamed: 0   Name      Profession  Experience Education
0           0   Jack         Manager          10       MBA
1           1   Jill         Analyst           5        BS
2           2     Em  Data scientist           2        MS
3           3  David              VP          20       MBA

# Write a program to find frequency of each word in positive class and negative class from IMDB data set.

In [21]:
import pandas as pd
imdb = pd.read_csv("IMDB Dataset.csv")
imdb

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [22]:
imdb['sentiment'].value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64